/*------------------------------------*\
$BOOK
\*------------------------------------*/

/**
*  Book object styles
*/

.book__image {
  width: 75px;
}

.book__title {
  font-weight: 300;
}

@media (min-width: 768px) {
  /** 
   * Book objects displayed in 2 columns in larger views
   */
  .book {
    width: 50%;
  }
  
  .book:nth-child(2n) {
    padding-left: 1em;
  }
}

.cart-item {
  
}

.cart-item__image {
  width: 40px;
}

.cart-item__title, .cart-item__meta {
  font-weight: 300;
  font-size: 0.9em;
}