/*------------------------------------*\
$BOOK
\*------------------------------------*/

/**
*  Book object styles
*/

.book {
  width: 100%;
}

.book__image {
  width: 75px;
}

.book__image--large {
  width: 200px;
}

.book__title {
  font-weight: 300;
}

.book__authors > li:before {
  content:',\0000a0';
}

.book__authors > li:first-child:before {
  content: normal;
}

.book__authors > li:last-child:before {
  content: '\0000a0and\0000a0';
}

@media (min-width: 768px) {
  /** 
   * Book objects displayed in 2 columns in larger views
   */
  .book {
    width: 50%;
  }
  
  .book:nth-child(2n) {
    padding-left: 1em;
  }
}

.cart-item {
  
}

.cart-item__image {
  width: 40px;
}

.cart-item__title, .cart-item__meta {
  font-weight: 300;
  font-size: 0.9em;
}